@using SafeCommerce.ClientDTO.Item

<style>
    :root {
        --background-color4: #E0F7FA;
    }

    body {
        background-color: var(--background-color4);
        max-width: 100%;
        overflow-x: hidden;
    }

    .overContainer {
        padding: 10px 30px 10px 30px;
    }

    .mud-data-grid .mud-table-cell .mud-resizer:hover {
        border-right: 2px solid #00838F !important;
    }

    .mud-data-grid .mud-table-cell .mud-resizing {
        border-right: 2px solid #00838F !important;
    }
</style>

<div class="overContainer">
    <MudDataGrid T="ClientDto_Item"
                 Dense="@Dense"
                 Hover="@Hover"
                 Groupable="true"
                 Filterable="true"
                 Virtualize="true"
                 FixedHeader="true"
                 ShowMenuIcon="true"
                 Items="@listItems"
                 Striped="@Striped"
                 Bordered="@Bordered"
                 Breakpoint="Breakpoint.Sm"
                 ColumnsPanelReordering=true
                 SortMode="SortMode.Multiple"
                 DragDropColumnReordering=true
                 LoadingProgressColor="Color.Info"
                 @bind-SelectedItem="SelectedItem"
                 ColumnResizeMode="ResizeMode.Column"
                 QuickFilter="new Func<ClientDto_Item,bool>(FilterFunc)">

        <ToolBarContent>
            <MudText Typo="Typo.h6">List of Items</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="SearchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>

        <Columns>
            <PropertyColumn Property="item => item.ItemId" Hidden="true" />
            <PropertyColumn Property="item => item.ShopId" Hidden="true" />
            <PropertyColumn Property="item => item.OwnerId" Hidden="true" />

            <PropertyColumn Property="item => item.Name" Title="Item Name" Hidden="false" Sortable="true" Filterable="true" />
            <PropertyColumn Property="item => item.Description" Title="Description" Hidden="false" Sortable="true" Filterable="true" />
            <PropertyColumn Property="item => item.Price" Title="Price" Hidden="false" Sortable="true" Filterable="true" />
            <PropertyColumn Property="item => item.Picture" Title="Picture" Hidden="false" />
            <PropertyColumn Property="item => item.OwnerName" Title="Owner Name" Hidden="false" Sortable="true" Filterable="true" />
            <PropertyColumn Property="item => item.IsApproved" Title="Is Approved" Hidden="false" Sortable="true" Filterable="true" />
        </Columns>

        <PagerContent>
            <MudTablePager />
        </PagerContent>

    </MudDataGrid>
</div>

<div class="d-flex flex-wrap mt-4 overContainer">
    <MudSwitch @bind-Value="Hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Value="Dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Value="Striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Value="Bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Class="align-self-center d-inline">Selected Item: @SelectedItem?.Name</MudText>
    </div>
</div>